@page "/{LobbyName}"
@inject NavigationManager navigationManager

@using BlazorChat;
@using MudBlazor;
@using Microsoft.AspNetCore.SignalR.Client;


<PageTitle>Bodies - @LobbyName</PageTitle>

<MudText Color="Color.Secondary" Typo="Typo.h3">BODIES - @LobbyName</MudText>

@if (!_inLobby)
{  
  
    <MudGrid>
        <MudItem xs="12" sm="6">
            <MudGrid>
                <MudItem xs="12">
                    <MudStack>
                        <MudTextField @bind-Value="_username" Label="User Name" Variant="Variant.Text" AutoFocus=true></MudTextField>
                        <MudButton Size="Size.Small" Disabled=_disableJoin OnClick=JoinGame Variant="Variant.Outlined">Join Game</MudButton>
                    </MudStack>
                </MudItem>
            </MudGrid>
        </MudItem>
    </MudGrid>

    // Error messages
    @if (_message != null)
    {
        <MudText> @_message </MudText>
    }
}
else
{
    // display messages
    <div id="scrollbox">
        @foreach (var item in _messages)
        {
            <MudText Color="Color.Primary">
                @((MarkupString)item.Body)
            </MudText>
        }
    </div>
    <span>&nbsp</span>
    <MudText>
        @_numConnections players in lobby.
    </MudText>
    <span>&nbsp</span>
    <MudStack Row=true Spacing="2">
        @if(!_gameStarted){
            if (_isAdmin)
            {
            <MudGrid>
                <MudItem xs="12" sm="6">
                    <MudGrid>
                        <MudItem xs="12">
                            <MudStack>
                                <MudNumericField @bind-Value="_numMafia" Label="Killers" Variant="Variant.Text" Min="1" Max="10" />
                                <MudButton Size="Size.Small" Disabled=_disableStart OnClick=StartGame Variant="Variant.Outlined">Start Game</MudButton>
                                <MudButton Size="Size.Small" OnClick=DisconnectAsync Variant="Variant.Outlined">Leave Game</MudButton>
                            </MudStack>
                        </MudItem>
                    </MudGrid>
                </MudItem>
            </MudGrid>
            } 
            else
            {
                <MudButton Size="Size.Small" OnClick=DisconnectAsync Variant="Variant.Outlined">Leave Game</MudButton>
            }
        } 
        else
        {
            <MudButton Size="Size.Small" OnClick=DisconnectAsync Variant="Variant.Outlined">Make New Game</MudButton>
        }
    </MudStack>
 
}

@code {
    // param to setup unique lobbys for each game
    [Parameter]
    public string LobbyName { get; set; } = string.Empty;

    private static Random _random = new Random();

    // flag to indicate if the user has joined with a user name
    private bool _inLobby = false;

    private bool _gameStarted = false;

    private bool _disableJoin = false;

    private bool _disableStart = false;

    private int _numMafia = 1;

    // name of the user who will be chatting
    private string _username = string.Empty;

    private bool _isAdmin = false;

    // on-screen message
    private string _message;

    // new message input
    private string _newMessage;

    // list of messages in chat
    private List<Message> _messages = new List<Message>();

    private string _hubUrl;

    private HubConnection _hubConnection;

    private int _numConnections = 0;

    public async Task JoinGame()
    {
        _disableJoin = true;
        await Task.Delay(1);

        // check username is valid
        if (string.IsNullOrWhiteSpace(_username))
        {
            _message = "Please enter a name";
            return;
        };

        try
        {
            // Start chatting and force refresh UI, ref: https://github.com/dotnet/aspnetcore/issues/22159
            _inLobby = true;
            await Task.Delay(1);

            // remove old messages if any
            _messages.Clear();

            // Create the chat client
            string baseUrl = navigationManager.BaseUri;

            _hubUrl = baseUrl.TrimEnd('/') + BlazorChatSampleHub.HubUrl;

            _hubConnection = new HubConnectionBuilder()
                .WithUrl(_hubUrl)
                .Build();

            _hubConnection.On<string, string>("Broadcast", BroadcastMessage);
            _hubConnection.On<int>("GetPlayerCount", SetPlayerCount);
            _hubConnection.On<string>("GameStarted", GameStarted);
            _hubConnection.On("AssignAdmin", AssignAdmin);

            await _hubConnection.StartAsync();
            await _hubConnection.SendAsync("AddGroup", LobbyName);
            await SendAsync(RandomMessage(_username));
        }
        catch (Exception e)
        {
            _message = $"ERROR: Failed to start chat client: {e.Message}";
            _inLobby = false;
        }
    }

    private void AssignAdmin()
    {
        _isAdmin = true;
    }

    private void BroadcastMessage(string name, string message)
    {
        _messages.Add(new Message(name, message));

        StateHasChanged();
    }

    private void SetPlayerCount(int count)
    {
        _numConnections = count;
    }

    private async Task DisconnectAsync()
    {
        if (_inLobby)
        {
            await _hubConnection.SendAsync("Broadcast", _username, $"<FONT COLOR='#ff0000'>{_username}</FONT> has left the lobby.", LobbyName);

            await _hubConnection.StopAsync();
            await _hubConnection.DisposeAsync();

            _hubConnection = null;
            _inLobby = false;
            GoHome();
        }
    }

    private async Task StartGame()
    {
        _disableStart = true;
        await Task.Delay(1);
        await SendAsync($"<FONT COLOR='#ff0000'>{_username}</FONT> started the game...");
        await _hubConnection.SendAsync("StartGame", LobbyName, _numMafia);
    }

    private void GameStarted(string message)
    {
        _messages.Add(new Message(message));
        _gameStarted = true;

        StateHasChanged();
    }

    private async Task SendAsync(string message)
    {
        if (_inLobby && !string.IsNullOrWhiteSpace(message))
        {
            await _hubConnection.SendAsync("Broadcast", _username, message, LobbyName);

            _newMessage = string.Empty;
        }
    }

    public static string RandomMessage(string userName)
    {
        string[] phrases =
        {
            $"<FONT COLOR='#ff0000'>{userName}</FONT> - don't let the master catch you sleeping...",
            $"Welcome, <FONT COLOR='#ff0000'>{userName}</FONT> we've been waiting for you...",
            $"<FONT COLOR='#ff0000'>{userName}</FONT> it took you long enough...",
            $"<FONT COLOR='#ff0000'>{userName}</FONT> has arrived...",
            $"Welcome <FONT COLOR='#ff0000'>{userName}</FONT>, you should leave :)",
            $"<FONT COLOR='#ff0000'>{userName}</FONT>! prepare to die!",
            $" Hold the applause, <FONT COLOR='#ff0000'>{userName}</FONT> has joined",
            $" <FONT COLOR='#ff0000'>{userName}</FONT> bees?",
            $" <FONT COLOR='#ff0000'>{userName}</FONT> ... who let this guy in?",
            $" <FONT COLOR='#ff0000'>{userName}</FONT> has joined the game.",
            $" Wassssssssssssssssssssssssssssup <FONT COLOR='#ff0000'>{userName}</FONT>",
            $" Hello, <FONT COLOR='#ff0000'>{userName}</FONT>",
            $" I've missed you, <FONT COLOR='#ff0000'>{userName}</FONT>. You never come around anymore.",
            $" Hello <FONT COLOR='#ff0000'>{userName}</FONT>, what brings you into this neck of the woods...",
            $" You should've went home <FONT COLOR='#ff0000'>{userName}</FONT>, but now you must die!",
    };
        return phrases[_random.Next(phrases.Length)];
    }

    public void GoHome()
    {
        navigationManager.NavigateTo($"/");
    }

    private class Message
    {
        public Message(string username, string body)
        {
            Username = username;
            Body = body;
        }

        public Message(string body)
        {
            Body = body;
        }

        public string Username { get; set; } = string.Empty;
        public string Body { get; set; } = string.Empty;
    }
}